<%= form_for :user do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :remember_me do %>
    <%= f.check_box :remember_me %>
    <span>Remember me</span>
  <% end %>

  <%= f.submit "Login"%>
<% end %>