<h1>Sign In</h1>
<div class="form">
  <%= form_for :user do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email %><br>

    <%= f.label :password %>
    <%= f.password_field :password %><br>

    <div>
      <%= f.label :remember_me do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this browser</span>
      <% end %><br>
    </div>

    <%= f.submit "Log in", class: "btn btn-primary btn-lg" %>
  <% end %>
</div>
<h4>Not yet a member? <%= link_to "Sign up now!", new_user_path %></h4>

<h2>Available dummy accounts</h2>
<div id="account">
  <h3>Email:</h3>
  <p>foo@bar.com</p>
  <p>foo@bar2.com</p>
  <p>foo@bar3.com</p>
  <h3>Password:</h3>
  <h4>foobar (for all emails above)</h4>
</div>
<h3>Feel free to play with the server :)!</h3>