<% provide(:title, "Sign Up") %>

<%= render 'shared/errors', locals: {object: @user} %>

<h1>Sign Up</h1>
  <div class="form">
  <%= form_for :user, url: users_path do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confimartion, "Confirmation" %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit "Submit", class: "btn btn-primary btn-lg" %>
  <% end %>
</div>
