<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Postboard</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top">
      <div class="container">
        <%= link_to "Postboard", root_path, id: "logo" %>
        
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to yield(:username),
                    root_url(name: yield(:username)) \
                      unless session[:user_id].nil? %></li>
            <li><%= link_to "All posts", root_url %></li>
            <% if session[:user_id].nil? %>
              <li><%= link_to "Sign in", signin_path %></li>
            <% else %>
              <li><%= link_to "New post", new_post_path %></li>
              <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
